<section class="section bg-{{ bgColor }}">
    <div class="border-r-2 {% if textColor is defined and textColor is not null %}border-{{textColor}}{% endif %} absolute h-full left-5 md:left-10 top-0"></div>

    <div class="px-10 md:px-20  z-10 lg:h-screen py-20 md:pt-40">
        <div class="flex flex-col md:flex-row gap-5 lg:gap-10 {% if loop.index == components|length %}md:h-4/5{% else %}h-full{% endif %}">
            <div class="w-full md:w-1/2 flex overflow-hidden flex-col {% if colOneJustify is defined and colOneJustify is not null %}justify-{{colOneJustify}}{% endif %} {% if entry.title != "Resources Index" and entry.title != "Become A Member" %}md:border-r-2 border-{{textColor}}{% endif %}">
                {% if colOneContent is defined and colOneContent is not null %}
                
                    {% set colorSelect = "text-" ~ textColor %}
                    {% set borderSelect = "border-" ~ textColor %}
                    {% set bgSelect = "bg-" ~ textColor %}

                    {% set h1Classes = "font-header text-5xl md:text-6xl lg:text-7xl leading-none uppercase mb-5 " ~ colorSelect %}
                    {% set h2Classes = "font-header text-5xl md:text-5xl lg:text-6xl leading-none uppercase mb-5 " ~ colorSelect %}
                    {% set h3Classes = "font-sans font-semibold text-lg leading-none mb-5 " ~ colorSelect %}
                    {% set h4Classes = "font-sans font-semibold text-lg md:text-xl leading-none mb-5 " ~ colorSelect %}
                    {% set h5Classes = "font-sans font-semibold text-4xl md:text-5xl lg:text-6xl leading-none mb-5 " ~ colorSelect %}
                    {% set pClasses = "font-sans font-semibold text-xl mb-5 leading-tight " ~ colorSelect %}
                    {% set liClasses = "mb-7 border-t pl-10 pt-5 " ~ colorSelect ~ " " ~ borderSelect %}
                    {% set strongClasses = "font-bold " ~ colorSelect %}
                    {% set aClasses = "btn-outline border-2 hover:" ~ bgSelect ~ " " ~ colorSelect ~ " hover:text-" ~ bgColor ~ " " ~ borderSelect %}
                    {% if entry.title == "About"%}
                        {% set imgClasses = "w-auto max-w-sm h-full w-full object-contain" %}
                    {% else %}
                        {% set imgClasses = "w-auto h-full object-contain" %}
                    {% endif %}
                    {% set figStyle = "max-height: 100%;" %}
                
                    {{ colOneContent | retcon([
                        ['attr', 'h1', { class: h1Classes }],
                        ['attr', 'h2', { class: h2Classes }],
                        ['attr', 'h3', { class: h3Classes }],
                        ['attr', 'h4', { class: h4Classes }],
                        ['attr', 'h5', { class: h5Classes }],
                        ['attr', 'p', { class: pClasses }],
                        ['attr', 'li', { class: liClasses }],
                        ['attr', 'strong', { class: strongClasses }],
                        ['attr', 'a', { class: aClasses }],
                        ['attr', 'img', { class: imgClasses }],
                        ['attr', 'figure', { style: figStyle }],

                    ]) }}

                
                {% endif %}
            </div>
            
            <div class="w-full md:w-1/2 flex flex-col lg:overflow-hidden {% if colTwoJustify is defined and colTwoJustify is not null %}justify-{{colTwoJustify}}{% endif %}">
            {% if colTwoContent is defined and colTwoContent is not null %}

                {% set colorSelect = "text-" ~ textColor %}
                {% set borderSelect = "border-" ~ textColor %}
                {% set bgSelect = "bg-" ~ textColor %}

                {% set h1Classes = "font-header text-5xl md:text-6xl lg:text-7xl leading-none uppercase mb-5 " ~ colorSelect %}
                {% set h2Classes = "font-header text-5xl md:text-5xl lg:text-6xl leading-none uppercase mb-5 " ~ colorSelect %}
                {% set h3Classes = "font-sans font-semibold text-lg leading-none mb-5 " ~ colorSelect %}
                {% set h4Classes = "font-sans font-semibold text-lg md:text-xl leading-none mb-5 " ~ colorSelect %}
                {% set h5Classes = "font-sans font-semibold text-4xl md:text-5xl lg:text-6xl leading-none mb-5 " ~ colorSelect %}
                {% set pClasses = "font-sans font-semibold text-xl mb-5 leading-tight " ~ colorSelect %}
                {% set liClasses = "mb-7 border-t pl-10 pt-5 " ~ colorSelect ~ " " ~ borderSelect %}
                {% set strongClasses = "font-bold " ~ colorSelect %}
                {% set aClasses = "btn-outline border-2 hover:" ~ bgSelect ~ " " ~ colorSelect ~ " hover:text-" ~ bgColor ~ " " ~ borderSelect %}
                {% if entry.title == "About"%}
                        {% set imgClasses = "w-auto max-w-sm h-full object-contain" %}
                    {% else %}
                        {% set imgClasses = "w-auto h-full object-contain" %}
                    {% endif %}
                {% set figStyle = "max-height: 100%; " %}
            
                {{ colTwoContent | retcon([
                    ['attr', 'h1', { class: h1Classes }],
                    ['attr', 'h2', { class: h2Classes }],
                    ['attr', 'h3', { class: h3Classes }],
                    ['attr', 'h4', { class: h4Classes }],
                    ['attr', 'h5', { class: h5Classes }],
                    ['attr', 'p', { class: pClasses }],
                    ['attr', 'li', { class: liClasses }],
                    ['attr', 'strong', { class: strongClasses }],
                    ['attr', 'a', { class: aClasses }],
                    ['attr', 'img', { class: imgClasses }],
                    ['attr', 'figure', { style: figStyle }],

                ]) }}
                {% endif %}
            </div>
        </div>
        {% if loop.index == components|length %}

        {% include 'components/_footer' %}

        {% endif %}
    </div>

</section>